body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: darkmagenta;
  color: white;
  height: 72px;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.content {
  display: flex;
  flex: 1 0 auto;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
  /* TODO: should be pushed to bottom of screen */
  /* TODO: text should be center aligned horizontally and vertically */
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
  font-size: 24px;
  flex-shrink: 0;
  /* TODO: should take up all avaiable space above footer */
}

.card-container {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  padding: 16px;
  margin: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 6px;
}

a {
  text-decoration: none;
  color: white;
}